.answer_button{
      border-radius: 30px;
      padding: 1rem;
      background-color: #3c3c3c;
      color: white;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      font-weight: bold;
}